/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 16, 2023, 5:05:44 PM
    Author     : Tuan Vinh
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr th {
    text-align: center;
}

tbody td {
    text-align: center;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    /*border: 1px solid #dddddd;*/
/*    display: flex;
    justify-content: center;*/
    font-family: 'Roboto', sans-serif;
    /*background-color: #adacac;*/
    margin: 78px 0px 50px 0px;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: #175E4C;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

td a button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #175E4C;
    color: #e6e7e8;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
