<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Star Filter -->
    <filter>
        <filter-name>LoginMentorFilter</filter-name>
        <filter-class>filter.LoginMentorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginMenteeFilter</filter-name>
        <filter-class>filter.LoginMenteeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginAdminFilter</filter-name>
        <filter-class>filter.LoginAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AddressFilter</filter-name>
        <filter-class>filter.AddressFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginNotAdminFilter</filter-name>
        <filter-class>filter.LoginNotAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AccountFilter</filter-name>
        <filter-class>filter.AccountFilter</filter-class>
    </filter>
    <!-- authorization: Not url .jsp -->
    <filter-mapping>
        <filter-name>AddressFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- authorization: acc != null role: 1 2 | 3 -> login -->
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <!-- authorization(Filter Login Admin): acc == null && acc.role != 3 -> login -->
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/addskill</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/listmentor</url-pattern>
        <url-pattern>/searchControl</url-pattern>
        <url-pattern>/skill</url-pattern>
        <url-pattern>/updateskill</url-pattern>
        <url-pattern>/updatestatusmentor</url-pattern>
        <url-pattern>/updatestatusmentorsearch</url-pattern>
        <url-pattern>/updatestatus</url-pattern>
        <url-pattern>/listmentee</url-pattern>
    </filter-mapping>
    <!-- authorization(Filter Login Mentor): acc == null && acc.role != 2 -> login -->
    <filter-mapping>
        <filter-name>LoginMenteeFilter</filter-name>
        <url-pattern>/requestMentor</url-pattern>
        <url-pattern>/listRequestMenTee</url-pattern>
        <!-- ? UpdateRequest-->
        <url-pattern>/updateRequest</url-pattern>
    </filter-mapping>
    <!-- authorization(Filter Login Mentor): acc == null && acc.role != 1 -> login -->
    <filter-mapping>
        <filter-name>LoginMentorFilter</filter-name>
        <url-pattern>/CreateCV</url-pattern>
        <!-- ? viewStatistic-->
        <url-pattern>/viewStatistic</url-pattern>
        <url-pattern>/followingRequest</url-pattern>
        <url-pattern>/updatecv</url-pattern>
    </filter-mapping>
    <!-- authorization(Filter Login mentor , mentee, guest): acc != null && role == 3 -->
    <filter-mapping>
        <filter-name>LoginNotAdminFilter</filter-name>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/viewListMentor</url-pattern>
        <url-pattern>/signupController</url-pattern>
        <url-pattern>/viewSkill</url-pattern>
    </filter-mapping>
    <!-- authorization(Filter Login mentor , mentee, admin): acc == null  -> Warning -->
    <filter-mapping>
        <filter-name>AccountFilter</filter-name>
        <url-pattern>/forgetPassword</url-pattern>
        <url-pattern>/signupController</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/changePass</url-pattern>
    </filter-mapping>
    <!-- error Status -->
    <error-page>
        <error-code>404</error-code>
        <location>/security/error404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/security/error500.html</location>
    </error-page>
    <!-- End Filter -->
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.home.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatar</servlet-name>
        <servlet-class>controller.common.UploadAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.common.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCV</servlet-name>
        <servlet-class>controller.mentor.CreateCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.home.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temp</servlet-name>
        <servlet-class>controller.common.Temp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestMentor</servlet-name>
        <servlet-class>controller.CreateRequest.requestMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRequestMenTee</servlet-name>
        <servlet-class>controller.CreateRequest.statisticRequestByMe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupController</servlet-name>
        <servlet-class>controller.signup.signupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerVerificationController</servlet-name>
        <servlet-class>controller.signup.registerVerificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSkill</servlet-name>
        <servlet-class>controller.common.viewSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFollowingRequest</servlet-name>
        <servlet-class>controller.mentor.ListFollowingRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCv</servlet-name>
        <servlet-class>controller.mentor.UpdateCv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCvMentor</servlet-name>
        <servlet-class>controller.common.ViewCvMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMentorSuggestion</servlet-name>
        <servlet-class>controller.mentee.ListMentorSuggestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRequestByMe1</servlet-name>
        <servlet-class>controller.mentee.ListRequestByMe1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>controller.common.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMenteeControl</servlet-name>
        <servlet-class>controller.admin.ListMenteeControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatar</servlet-name>
        <url-pattern>/UploadAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCV</servlet-name>
        <url-pattern>/CreateCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temp</servlet-name>
        <url-pattern>/Temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestMentor</servlet-name>
        <url-pattern>/requestMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRequestMenTee</servlet-name>
        <url-pattern>/listRequestMenTee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupController</servlet-name>
        <url-pattern>/signupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerVerificationController</servlet-name>
        <url-pattern>/registerVerificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSkill</servlet-name>
        <url-pattern>/viewSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFollowingRequest</servlet-name>
        <url-pattern>/followingRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCv</servlet-name>
        <url-pattern>/updatecv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCvMentor</servlet-name>
        <url-pattern>/viewcv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMentorSuggestion</servlet-name>
        <url-pattern>/mentorSuggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRequestByMe1</servlet-name>
        <url-pattern>/listrequestbyme1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMenteeControl</servlet-name>
        <url-pattern>/listmentee</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
